/**
*
*
* CSS VARIABLES
*
*
**/

:root {
    --font: 'Roboto', sans-serif;
    --gap: 2rem;
    --white: #FFFFFF;
    --font-color: #D9D9D9;
    --placeholder-color: #93979a;
    --primary-color: #38424b;
    --primary-color-70: rgba(51,59,68, .8);
    --secondary-color:#404b55;
    --dark-grey: #333b44;
    --darker-grey: #1f2531;
    --input-color: #3C464f;
    --input-border-color: #4f5862;
    --grey: #ababac;
    --light-grey: rgba(235,235,235, 1);
    --border-grey: rgba(235,235,235, .1);
    --note-color: #fffad5;
    --main-height: 80px;
    --width-aside: 400px;
    --answered-color: #18ffff;
    --open-color: #ff0053;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {
    color: var(--font-color);
    font-weight: 300;
    font-family: var(--font);
    font-size: 1rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}
p.small {
    font-size: 0.875rem;
}
p.bigger {
    font-size: 1.2rem;
}

span {
    font-size: .8rem;
    font-weight: 300;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

li:hover {
    cursor: pointer;
}

.main-container {
    display: grid;
    grid-template-columns: var(--width-aside) 1fr;
    grid-template-rows: var(--main-height) 1fr var(--main-height);
    grid-template-areas:
        "aside header"
        "aside main"
        "aside footer";
    min-height: 100%;
    max-height: 100%;
}


.regular-checkbox {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--white);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 6px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.regular-checkbox:active, 
.regular-checkbox:checked:active {
    background-color: var(--white);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: var(--white);
	border: 2px solid var(--white);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: var(--white);
}
.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 12px;
	position: absolute;
	top: 0px;
	left: 1px;
	color: var(--primary-color);
}

input[type="text"]::placeholder{
    color: var(--placeholder-color) !important;
}



/****
    *
    *   ASIDE
    *
    */
.aside {
    grid-area: aside;
    background: var(--dark-grey);
    display: grid;
    grid-template-rows: var(--main-height) calc(var(--main-height) / 2) 1fr var(--main-height);
    grid-template-areas:
        "actions"
        "search"
        "messages"
        "create";
    min-height: 100%;
    z-index: 3;
}
.aside .actions {
    grid-area: actions;
    background: var(--primary-color);

    display: grid;
    grid-template-rows: repeat(2, calc(var(--main-height) / 2));
    grid-template-areas:
        "all-inboxes"
        "filter-messages";
}
.aside .actions .all-inboxes, .aside .actions .filter-messages{
    /* box-shadow: inset 0 -1px 0 0 var(--border-grey); */
}
.aside .actions .all-inboxes {
    box-shadow: inset 0 -1px 0 0 var(--border-grey);
    display: grid;
    grid-template-columns: 1fr calc(var(--main-height) / 2);
    justify-items: stretch;
    align-items: stretch;

}
.aside .actions .all-inboxes .inboxes-actions {
    background: inherit;
}
.aside .actions .filter-messages {
    grid-area: filter-messages;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    align-items: stretch;
}
.aside .actions .filter-messages > .active {
    box-shadow: inset 0 -1px 0 0 var(--light-grey);
}
.aside .actions .all-inboxes > div, .aside .actions .filter-messages > div {
    display: grid;
    align-items: center;
    justify-items: center;
}
.aside .actions .all-inboxes .inboxes {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.aside .actions .all-inboxes .inboxes ul li {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    padding: 0 var(--gap);
}
.aside .actions .all-inboxes .inboxes ul li.has-child {
    grid-column-gap: calc(var(--gap) / 2);
    grid-template-columns: 1fr min-content;
}
.aside .actions .all-inboxes .inboxes ul li.has-child::after {
    font-family: "Material Icons";
    content: "expand_more";
}
.aside .actions .all-inboxes .inboxes ul li:hover ul.action-nav-content {
    display: flex;
    flex-flow: column;
    top: calc(var(--main-height) / 2);
}
.aside .actions .all-inboxes .inboxes ul li ul.action-nav-content {
    background-color: var(--dark-grey);
    display: none;
    position: absolute;
    width: fit-content;
    z-index: 1;
}
.aside .actions .all-inboxes .inboxes ul li ul.action-nav-content li{
    box-shadow: none;
    padding: calc(var(--gap) / 2) var(--gap);
}
.aside .actions .all-inboxes .inboxes ul li ul.action-nav-content li:hover {
    background-color: var(--secondary-color);
}
.aside .actions .all-inboxes .inboxes ul li ul.action-nav-content li:not(:last-child) {
    box-shadow: 0 1px 0 0 var(--border-grey);
}



.aside .actions .all-inboxes .inboxes-actions > ul {
    display: grid;
    align-self: stretch;
    justify-self: stretch;
}

.aside .actions .all-inboxes .inboxes-actions > ul > li > a {
    position: absolute;
    margin: 9px;
}

.aside .actions .all-inboxes .inboxes-actions ul li:hover ul.action-nav-content {
    display: flex;
    flex-flow: column;
    top: calc(var(--main-height) / 2);
}
.aside .actions .all-inboxes .inboxes-actions ul li ul.action-nav-content {
    background-color: var(--dark-grey);
    display: none;
    position: absolute;
    width: fit-content;
    z-index: 1;
}
.aside .actions .all-inboxes .inboxes-actions ul li ul.action-nav-content li{
    box-shadow: none;
    padding: calc(var(--gap) / 4) calc(var(--gap) / 2);
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    grid-column-gap: calc(var(--gap) / 2);
}
.aside .actions .all-inboxes .inboxes-actions ul li ul.action-nav-content li:hover {
    background-color: var(--secondary-color);
}
.aside .actions .all-inboxes .inboxes-actions ul li ul.action-nav-content li:not(:last-child) {
    box-shadow: 0 1px 0 0 var(--border-grey);
}
.aside .actions .all-inboxes .inboxes-actions ul li ul.action-nav-content li i.done {
    color: var(--font-color);
}
.aside .actions .all-inboxes .inboxes-actions ul li ul.action-nav-content li i.answered {
    color: var(--answered-color);
}
.aside .actions .all-inboxes .inboxes-actions ul li ul.action-nav-content li i.open {
    color: var(--open-color);
}
.aside .search {
    box-shadow: inset 0 -1px 0 0 var(--border-grey);
    grid-area: search;
    display: grid;
    align-content: center;
    justify-items: stretch;
}

.aside .search form {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    grid-row-gap: calc(var(--gap) / 2);
    padding: 0 calc(var(--gap) / 2);
}

.aside .search form input{
    background: transparent;
    border: none;
    box-shadow: 0 1px 0 0 var(--primary-color);
    color: var(--font-color);
    padding: calc(var(--gap) / 6);
    width: 100%;
}

.aside .search form input::placeholder {
    color: var(--placeholder-color);
}

.aside .search form > div:not(:first-child) {
    margin-left: calc(var(--gap) /4);
}

.aside .messages {
    grid-area: messages;
    background: inherit;
    overflow-y: scroll;
}

.aside .messages hr {
    width: 80%;
    margin-left: 10%;
    background: var(--primary-color);
    border: .5px solid var(--primary-color);
}

.aside .messages .message {
    align-items: stretch;
    display: grid;
    grid-template-columns: min-content 75px 1fr min-content;
    justify-items: stretch;
    padding: calc(var(--gap) / 1.5) calc(var(--gap) / 2.5);
    padding-left: 0;
}
.aside .messages .message.active {
    background: var(--primary-color);
    filter: drop-shadow(-30px 0 20px rgba(0, 0, 0, .1));
}

.aside .messages .message > .status {
    display: grid;
    align-self: center;
    height: 60%;
    width: 3px;
}
.aside .messages .message > .status.done {
    background-color: var(--font-color);
}
.aside .messages .message > .status.open {
    background-color: var(--open-color);
}
.aside .messages .message > .status.answered {
    background-color: var(--answered-color);
}
.aside .messages .message > .avatar {
    display: grid;
    justify-items: center;
    align-items: center;
}
.aside .messages .message > .avatar .profile-pic {
    border-radius: 50%;
    height: 48px;
    width: 48px;
}
/*
.aside .messages .message > .avatar .profile-pic.open {
    box-shadow: 0 0 0 3px var(--open-color);
}
.aside .messages .message > .avatar .profile-pic.answered {
    box-shadow: 0 0 0 3px var(--answered-color);
}
*/
.aside .messages .message > .content {
    display: grid;
    grid-row-gap: calc(var(--gap) / 4);
}
.aside .messages .message > .content .title {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.aside .messages .message > .content .title .subject {
    font-weight: 500;
}
.aside .messages .message.unread > .content .title .subject {
    font-weight: 700;
}
.aside .messages .message > .content .subtitle {
    font-size: .875rem;
    margin-top: calc(var(--gap) / -4);
}
.aside .messages .message.unread > .content .subtitle {
    font-weight: 500;
}
.aside .messages .message.unread > .content .content span {
    font-weight: 500;
}
.aside .messages .message > .menu_actions {
    padding-top: calc(var(--gap) / 17);
}
.aside .messages .message > .menu_actions::after {
    font-family: "Material Icons";
    content: "more_horiz";
    position: absolute;
    margin-top: -20px;
    margin-left: -15px;
    width: 25px;
}
.aside .messages .message > .menu_actions:hover ul {
    display: grid;
}
.aside .messages .message > .menu_actions ul {
    background-color: var(--dark-grey);
    display: none;
    margin-top: -24px;
    margin-left: 13px;
    position: absolute;
    width: fit-content;
    z-index: 1;
}
.aside .messages .message > .menu_actions ul li{
    box-shadow: none;
    padding: calc(var(--gap) / 2) var(--gap);
}
.aside .messages .message > .menu_actions ul li:hover {
    background-color: var(--secondary-color);
}


.aside .create {
    grid-area: create;
    background: var(--primary-color);
    box-shadow: 0 -1px 0 0 var(--dark-grey);
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 1;
}
.aside .create:hover {
    background: var(--secondary-color);
    cursor: pointer;
}

/****
    *
    *   QUICKSIDEBAR
    *
    */
.quick-bar {
    background-color: var(--dark-grey);
    height: calc(100vh - (var(--main-height) * 1));
    position: absolute;
    right: 0;
    width: var(--width-aside);
    top: calc(var(--main-height) + 1px);
    transform: translateX(100%);
    z-index: 2;
    transition: ease-in-out all .3s;
}
.quick-bar.active {
    transform: translateX(0);
}
.quick-bar .header, .quick-bar .footer {
    background: transparent;
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: var(--main-height);
}
.quick-bar .header .title {
    font-weight: 700;
}
.quick-bar .header > div, .quick-bar .footer > div {
    padding: 0 var(--gap);
}
.quick-bar .header .close {
    cursor: pointer;
}
.quick-bar .content {
    padding: var(--gap);
    overflow-y: scroll;
}
.quick-bar .content form {
    display: grid;
    grid-row-gap: calc(var(--gap) / 1.5);
}
.quick-bar .content form .input-group {
    display: flex;
    flex-flow: column;
}
.quick-bar .content form .input-group label {
    font-size: .7rem;
}
.quick-bar .content form .input-group input[type="text"], .quick-bar .content form textarea {
    background: transparent;
    border: none;
    box-shadow: 0 1px 0 0 var(--primary-color);
    color: var(--font-color);
    padding: calc(var(--gap) / 6);
}
.quick-bar .content form .tags ul {
    display: flex;
    flex-flow: row;
}
.quick-bar .content form .tags ul li {
    background: var(--primary-color);
    color: var(--font-color);
    padding: calc(var(--gap) / 4) calc(var(--gap) / 2);
}
.quick-bar .content form .tags ul li::after {
    font-family: "Material Icons";
    font-size: 10px;
    font-weight: 700;
    content: "close";
    background-color: var(--font-color);
    color: var(--dark-grey);
    border-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
    height: calc(var(--gap) * .4);
    width: calc(var(--gap) * .4);
    position: absolute;
    transition: all .3s ease;
    margin-left: calc(var(--gap) * 1.3);
    margin-top: calc(var(--gap) * -1);
}

.quick-bar .content form .tags ul li:not(:first-child) {
    margin-left: calc(var(--gap) / 2);
}
.quick-bar .footer {
    background: transparent;
    box-shadow: none;
}
.quick-bar .footer .buttons {
    cursor: pointer;
}
.quick-bar .footer .buttons .done {
    align-items: center;
    background-color: var(--font-color);
    color: var(--dark-grey);
    border-radius: 50%;
    display: grid;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: calc(var(--gap) * 1.5);
    width: calc(var(--gap) * 1.5);
    transition: all .3s ease;
}
.quick-bar .footer .buttons:hover .done {
    background-color: var(--dark-grey);
    color: var(--font-color);
    box-shadow: inset 0 0 0 1px var(--font-color);
}

/****
    *
    *   HEADER
    *
    */
.header {
    grid-area: header;
    background: var(--dark-grey);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
}
.header .subject {
    align-self: center;
    display: grid;
    padding-left: calc(var(--gap) / 2);
    font-weight: 500;
}
.header nav {
    display: inherit;
    align-items: inherit;
}
.header nav ul {
    display: inherit;
    flex-flow: row;
}
.header nav ul li {
    align-items: center;
    box-shadow: -1px 0 0 0 var(--border-grey);
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    padding: 0 var(--gap);
}
.header nav ul li.has-child {
    grid-column-gap: calc(var(--gap) / 2);
    grid-template-columns: 1fr min-content;
}
.header nav ul li.has-child::after {
    font-family: "Material Icons";
    content: "expand_more";
}
.header nav ul li:hover ul.action-nav-content {
    display: flex;
    flex-flow: column;
    top: var(--main-height);
}
.header nav ul li ul.action-nav-content {
    background-color: var(--dark-grey);
    display: none;
    position: absolute;
    width: fit-content;
    z-index: 1;
}

.header nav ul li ul.action-nav-content .input-group {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.header nav ul li ul.action-nav-content .input-group input {
    background: transparent;
    border: none;
    color: var(--font-color);
}

.header nav ul li ul.action-nav-content .input-group input::placeholder {
    color: var(--placeholder-color);
}

.header nav ul li ul.action-nav-content li{
    box-shadow: none;
    height: 100%;
    padding: calc(var(--gap) / 2) var(--gap);
}
.header nav ul li ul.action-nav-content li:hover {
    background-color: var(--secondary-color);
}
.header nav ul li ul.action-nav-content li:not(:last-child) {
    box-shadow: 0 1px 0 0 var(--border-grey);
}


/****
    *
    *   MAIN
    *
    */
.main {
    background: var(--primary-color);
    grid-area: main;
    overflow-y: scroll;
    padding: calc(var(--gap) * 1.5);
}
.main.inactive::before {
    background: var(--primary-color-70);
    margin: calc(var(--gap) * -1.5);
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
}
.main ul li {
    box-shadow: 0 1px 0 0 var(--border-grey);
    cursor: auto;
    padding: var(--gap) calc(var(--gap) / 2) calc(var(--gap) / 2);
    display: grid;
    grid-template-columns: min-content 1fr;
}
.main ul li:last-child {
    box-shadow: none;
}
.main ul li > .avatar {
    padding-right: calc(var(--gap) / 2);
}
.main ul li > .avatar .profile-pic {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.main ul li > .content {
    display: grid;
    grid-row-gap: var(--gap);
}
.main ul li > .content .sender {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr max-content min-content;
    grid-column-gap: calc(var(--gap) / 2);
}
.main ul li > .content.note .sender {
    grid-template-columns: 1fr max-content;
}
.main ul li > .content .sender .recipient {
    font-size: 1.2rem;
    font-weight: 500;
}
.main ul li > .content .sender::after{
    font-family: "Material Icons";
    content: "expand_more";
}
.main ul li > .content.note .sender::after{
    content: none;
}
.main ul li > .content .sender.active::after {
    font-family: "Material Icons";
    content: "expand_less";

}
.main ul li > .content .email {
    display: grid;
    grid-row-gap: calc(var(--gap) / 4);
    height: calc(var(--gap) / 2);
    max-height: var(--gap);
    overflow-y: hidden;
    padding-bottom: calc(var(--gap) * 1.5);
    position: relative;
    transition: ease-in-out max-height .5s;
}
.main ul li > .content .email.active {
    height: fit-content;
    max-height: 100vh;
}
.main ul li > .content .email::after {
    content: '';
    bottom: 0;
    background: linear-gradient(transparent, var(--primary-color));
    height: calc(var(--main-height) / 2);
    position: absolute;
    width: 100%;
}

.main ul li > .content.note {
    border-radius: 5px;
    height: fit-content;
    max-height: fit-content;
    background: var(--note-color);
    padding: calc(var(--gap) / 2);
    color: var(--primary-color);
}

.main ul li > .content.note .email {
    max-height: fit-content;
    height: fit-content;
    padding-bottom: 0;
}

.main ul li > .content.note .email::after {
    background: none;
}


/****
    *
    *   FOOTER
    *
    */
.footer {
    grid-area: footer;
    background: var(--dark-grey);
    box-shadow: 0 -1px 0 0 var(--border-grey);
    display: grid;
    align-items: stretch;
}
.footer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer ul li {
    align-items: center;
    box-shadow: -1px 0 0 0 var(--border-grey);
    height: 100%;
    display: grid;
    justify-items: center;
}
.footer ul li:hover {
    background: var(--secondary-color);
}


/****
    *
    *   QUICK CREATE
    *
    */
.quick-create {
    background-color: var(--primary-color);
    height: calc(var(--main-height) * 7);
    position: absolute;
    left: var(--width-aside);
    width: calc(100% - var(--width-aside));
    bottom: 0;
    transform: translateY(100%);
    z-index: 1;
    transition: ease-in-out all .3s;
}
.quick-create.active {
    transform: translateY(0);
}
.quick-create .header {
    align-items: center;
    background: inherit;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: var(--main-height);
}
.quick-create .header .title {
    font-weight: 700;
}
.quick-create .header > div {
    padding: 0 var(--gap);
}
.quick-create .header .close {
    cursor: pointer;
}
.quick-create .content {
    padding: 0 var(--gap);
}
.quick-create .content form {
    display: grid;
    grid-template-columns: 1fr;
}

.quick-create .content form .fields {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: calc(var(--gap) / 3 * 2);
}

.quick-create .content form .fields .input-group {
    display: grid;
    grid-row-gap: calc(var(--gap) / 5);
    background: var(--input-color);
    box-shadow: -1px 0 0 0 var(--input-border-color);
    padding: calc(var(--gap) / 4) calc(var(--gap) / 2);
}

.quick-create .content form .fields .input-group {
    grid-column-end: span 1;
}

.quick-create .content form .fields .input-group:first-child {
    grid-column-end: span 2;
}

.quick-create .content form .fields .input-group:last-child {
    grid-column-end: span 4;
}

.quick-create .content form .fields .input-group label {
    font-size: .7rem;
}
.quick-create .content form .fields .input-group input[type="text"]::placeholder, .quick-create .content form .fields textarea::placeholder {
    color: var(--placeholder-color);
}
.quick-create .content form .fields .input-group input[type="text"], .quick-create .content form .fields textarea {
    background: transparent;
    border: none;
    color: var(--font-color);
}

.quick-create .footer {
    background: inherit;
    box-shadow: none;
    padding:  calc(var(--gap) / 2) var(--gap);
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
}

.quick-create .footer .buttons {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
    align-items: end;
}

.quick-create .footer .buttons:hover {
    cursor: pointer;
}

.quick-create .footer .buttons .send {
    align-items: center;
    background-color: var(--dark-grey);
    border-radius: 50%;
    display: grid;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: calc(var(--gap) * 2);
    width: calc(var(--gap) * 2);
    transition: all .3s ease;
}


/****
    *
    *   QUICK REPLY
    *
    */
    .quick-reply {
        background-color: var(--secondary-color);
        height: calc(var(--main-height) * 3);
        position: absolute;
        left: var(--width-aside);
        width: calc(100% - var(--width-aside));
        bottom: 0;
        transform: translateY(100%);
        z-index: 1;
        transition: ease-in-out all .3s;
    }
    .quick-reply.active {
        transform: translateY(0);
        /* filter: drop-shadow(0 -20px 20px rgba(0, 0, 0, .12)); */
        box-shadow: 0 20px 60px 0 #000;
    }
    .quick-reply .content {
        padding: var(--gap) 0 0 var(--gap);
        display: grid;
    }
    .quick-reply .content form {
        display: grid;
        grid-template-columns: 1fr 190px;
    }
    
    .quick-reply .content form .fields {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--gap);
    }
    
    .quick-reply .content form .fields .input-group {
        display: flex;
        flex-flow: column;
        background: var(--input-color);
        box-shadow: -1px 0 0 0 var(--input-border-color);
        padding: calc(var(--gap) / 4) calc(var(--gap) / 2);
    }
    
    .quick-reply .content form .fields .input-group:last-child {
        grid-column: 1 / 4;
    }
    
    .quick-reply .content form .fields .input-group label {
        font-size: .7rem;
    }
    .quick-reply .content form .fields .input-group input[type="text"], .quick-reply .content form .fields textarea {
        background: transparent;
        border: none;
        box-shadow: 0 1px 0 0 var(--primary-color);
        color: var(--font-color);
        padding: calc(var(--gap) / 6);
    }


    .quick-reply .footer {
        background: inherit;
        box-shadow: none;
        padding:  calc(var(--gap) / 2) var(--gap);
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
    }
    
    .quick-reply .footer .buttons {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    
    .quick-reply .footer .buttons:hover {
        cursor: pointer;
    }
    
    .quick-reply .footer .buttons:hover .send-2 {
        transform: translateY(calc(var(--gap) * -2));
    }
    
    .quick-reply .footer .buttons:hover .send-3 {
        transform: translateY(calc(var(--gap) * -4));
    }

    .quick-reply .footer .buttons .send {
        align-items: center;
        background-color: var(--darker-grey);
        border-radius: 50%;
        display: grid;
        justify-content: center;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        height: calc(var(--gap) * 2);
        width: calc(var(--gap) * 2);
        transition: all .3s ease;
    }
    
    .quick-reply .footer .buttons .send:hover::after, 
    .quick-reply .footer .buttons .send.active::after {
        font-family: "Material Icons";
        content: "send";
        font-size: calc(var(--gap) / 1.2);
        color: var(--white);
    }


    .quick-reply .footer .buttons .send.send-main {
        z-index: 3;
    } 
    .quick-reply .footer .buttons .send.answered {
        background-color: var(--answered-color);
        border: calc(var(--gap) * .5) solid var(--secondary-color);
        transition: all .3s ease;
    }
    .quick-reply .footer .buttons .send.answered:hover,
    .quick-reply .footer .buttons .send.answered.active  {
        border: calc(var(--gap) * .5) solid var(--answered-color);
    }
    .quick-reply .footer .buttons .send.answered:hover::before,
    .quick-reply .footer .buttons .send.answered.active::before {
        content: 'Answered';
        font-family: 'Roboto';
        position: absolute;
        font-size: 14px;
        font-weight: 900;
        width: 150px;
        text-align: right;
        margin-left: -180px;
    }
    .quick-reply .footer .buttons .send.open {
        background-color: var(--open-color);  
        border: calc(var(--gap) * .5) solid var(--secondary-color);
        transition: all .3s ease;
    }
    .quick-reply .footer .buttons .send.open:hover, 
    .quick-reply .footer .buttons .send.open.active {
        border: calc(var(--gap) * .5) solid var(--open-color);
    }
    .quick-reply .footer .buttons .send.open:hover::before, 
    .quick-reply .footer .buttons .send.open.active::before {
        content: 'Open';
        font-family: 'Roboto';
        position: absolute;
        font-size: 14px;
        font-weight: 900;
        width: 150px;
        text-align: right;
        margin-left: -180px;
    }
    .quick-reply .footer .buttons .send.done {
        background-color: var(--dark-grey);      
        border: calc(var(--gap) * .5) solid var(--secondary-color);
        transition: all .3s ease;
    }
    .quick-reply .footer .buttons .send.done:hover,
    .quick-reply .footer .buttons .send.done.active {
        border: calc(var(--gap) * .5) solid var(--dark-grey);
    }
    .quick-reply .footer .buttons .send.done:hover::before,
    .quick-reply .footer .buttons .send.done.active::before {
        content: 'Done';
        font-family: 'Roboto';
        position: absolute;
        font-size: 14px;
        font-weight: 900;
        width: 150px;
        text-align: right;
        margin-left: -180px;
    }


    /****
    *
    *   QUICK NOTE
    *
    */
    .quick-note {
        background-color: var(--secondary-color);
        display: grid;
        height: calc(var(--main-height) * 3);
        position: absolute;
        left: var(--width-aside);
        width: calc(100% - var(--width-aside));
        bottom: 0;
        transform: translateY(100%);
        z-index: 1;
        transition: ease-in-out all .3s;
    }
    .quick-note.active {
        transform: translateY(0);
    }
    .quick-note .content {
        padding: calc(var(--gap) / 2);
        display: grid;
    }
    .quick-note .content form {
        display: grid;
        grid-template-columns: 1fr calc(var(--main-height) * 2);
    }
    
    .quick-note .content form .fields {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--gap);
    }
    
    .quick-note .content form .fields .input-group {
        display: flex;
        flex-flow: column;
    }
    
    .quick-note .content form .fields .input-group:last-child {
        grid-column: 1 / 4;
    }
    
    .quick-note .content form .fields .input-group label {
        background: var(--note-color);
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        color: var(--dark-grey);
        font-size: .7rem;
        padding: calc(var(--gap) / 6);
    }
    .quick-note .content form .fields .input-group input[type="text"], .quick-note .content form .fields textarea {
        background: var(--note-color);
        border: none;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 0 1px 0 0 var(--primary-color);
        color: var(--dark-grey);
        padding: calc(var(--gap) / 6);
        height: 100%;
    }

    .quick-note .content form .buttons {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: end;
        align-content: end;
    }
    
    .quick-note .content form .buttons:hover {
        cursor: pointer;
    }
    
    .quick-note .content form .buttons:hover .send-2 {
        transform: translateY(calc(var(--gap) * -2));
    }
    
    .quick-note .content form .buttons:hover .send-3 {
        transform: translateY(calc(var(--gap) * -4));
    }

    .quick-note .content form .buttons .send {
        align-items: center;
        background-color: var(--primary-color);
        border-radius: 50%;
        display: grid;
        justify-content: center;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        height: calc(var(--gap) * 2);
        width: calc(var(--gap) * 2);
        transition: all .3s ease;
    }
    
    .quick-note .content form .buttons .send:hover::after, 
    .quick-note .content form .buttons .send.active::after {
        font-family: "Material Icons";
        content: "send";
        font-size: calc(var(--gap) / 1.2);
        color: var(--white);
    }


    .quick-note .content form .buttons .send.send-main {
        z-index: 3;
    } 
    .quick-note .content form .buttons .send.answered {
        background-color: var(--answered-color);
        border: calc(var(--gap) * .5) solid var(--secondary-color);
        transition: all .3s ease;
    }
    .quick-note .content form .buttons .send.answered:hover,
    .quick-note .content form .buttons .send.answered.active  {
        border: calc(var(--gap) * .5) solid var(--answered-color);
    }
    .quick-note .content form .buttons .send.answered:hover::before,
    .quick-note .content form .buttons .send.answered.active::before {
        content: 'Answered';
        font-family: 'Roboto';
        position: absolute;
        font-size: 14px;
        font-weight: 900;
        width: 150px;
        text-align: right;
        margin-left: -180px;
    }
    .quick-note .content form .buttons .send.open {
        background-color: var(--open-color);  
        border: calc(var(--gap) * .5) solid var(--secondary-color);
        transition: all .3s ease;
    }
    .quick-note .content form .buttons .send.open:hover, 
    .quick-note .content form .buttons .send.open.active {
        border: calc(var(--gap) * .5) solid var(--open-color);
    }
    .quick-note .content form .buttons .send.open:hover::before, 
    .quick-note .content form .buttons .send.open.active::before {
        content: 'Open';
        font-family: 'Roboto';
        position: absolute;
        font-size: 14px;
        font-weight: 900;
        width: 150px;
        text-align: right;
        margin-left: -180px;
    }
    .quick-note .content form .buttons .send.done {
        background-color: var(--dark-grey);      
        border: calc(var(--gap) * .5) solid var(--secondary-color);
        transition: all .3s ease;
    }
    .quick-note .content form .buttons .send.done:hover,
    .quick-note .content form .buttons .send.done.active {
        border: calc(var(--gap) * .5) solid var(--dark-grey);
    }
    .quick-note .content form .buttons .send.done:hover::before,
    .quick-note .content form .buttons .send.done.active::before {
        content: 'Done';
        font-family: 'Roboto';
        position: absolute;
        font-size: 14px;
        font-weight: 900;
        width: 150px;
        text-align: right;
        margin-left: -180px;
    }